<!doctype html>
<div class="content-container">
  <h1>International Journal of Sensors and Censors</h1>
  <div class="hr-container">
    <hr class="hr-container" />
  </div>
  <div class="blog-posts-list h-feed">
    <div
      class="blog-post-item"
      hx-get="/api/page/blog/telling-advertisers-what"
      hx-target="#content"
      hx-push-url="/blog/telling-advertisers-what"
      hx-trigger="click"
    >
      <h2>Advertisers, let me tell you what I want</h2>
      <div class="description">Instead of using tips and tricks, let me tell you what I want</div>
      <div class="date">June 4, 2025</div>
    </div>
    <!-- <div class="blog-post-item" hx-get="/api/page/blog/unlimited-dream-company" 
			hx-target="#content" hx-push-url="/blog/unlimited-dream-company" hx-trigger="click">
			<h2>Review - The Unlimited Dream Company</h2>
			<div class="description">Ballard writes about a special kind of Jesus</div>
			<div class="date">July 7, 2025</div>
		</div> -->
    <div
      class="blog-post-item"
      hx-get="/api/page/blog/htmx-allows-you-to-show"
      hx-target="#content"
      hx-push-url="/blog/htmx-allows-you-to-show"
      hx-trigger="click"
    >
      <h2>Let me send you a component - HTMX</h2>
      <div class="description">
        Unlike single page applications, HTMX wants you to send code to the frontend
      </div>
      <div class="date">September 11, 2025</div>
    </div>
    <div
      class="blog-post-item"
      hx-get="/api/page/blog/local-ollama-chatbot"
      hx-target="#content"
      hx-push-url="/blog/local-ollama-chatbot"
      hx-trigger="click"
    >
      <h2>Chatting with your Local Ollama</h2>
      <div class="description">
        A simple HTMX/Vanilla JS chatbot interface that connects directly to an Ollama instance
        running on your own machine.
      </div>
      <div class="date">March 21, 2026</div>
    </div>
  </div>
</div>
